@using System.Text.Json.Dynamic
@using OrchardCore.ContentManagement.Display
@inject OrchardCore.ContentManagement.Display.IContentItemDisplayManager ContentItemDisplayManager
@{
    ContentItem contentItem = Model.ContentItem;
    RenderTitleSegments(contentItem.DisplayText);

}
<shape Type="ContentHeader" prop-ContentItem="@Model.ContentItem"></shape>

<main class="flex-grow">
    <div class="bg-white py-12">
        <shape Type="GlossaryShape"></shape>
    </div>
</main>
