<shape Type="ContentHeader" prop-ContentItem="@Model.ContentItem" prop-Subtitle="Model.ContentItem.Content.BlogPost.Subtitle.Text"></shape>

<main class="flex-grow py-12">
    <div class="max-w-6xl mx-auto px-6">

        <div class="flex flex-col lg:flex-row gap-8">
            <aside class="lg:w-64 flex-shrink-0">
                @await RenderSectionAsync(Zones.ContentSidebar, false)
            </aside>
            <div class="flex-grow">
                <section class="bg-white rounded-lg">
                    @await DisplayAsync(Model.Content)
                </section>
            </div>
        </div>
    </div>
</main>