@using System.Text.Json.Dynamic
@using OrchardCore.ContentManagement.Display
@inject OrchardCore.ContentManagement.Display.IContentItemDisplayManager ContentItemDisplayManager
@{
    ContentItem contentItem = Model.ContentItem;
    var featuredItemsIds = (JsonDynamicArray)contentItem.Content.Glossary.Featured.ContentItemIds;
    List<ContentItem> featuredItems = new List<ContentItem>(featuredItemsIds.Count);

    foreach(JsonDynamicValue id in featuredItemsIds)
    {
        featuredItems.Add(await Orchard.GetContentItemByIdAsync(id.ToString()));
    }
}

<shape Type="ContentHeader" prop-ContentItem="@Model.ContentItem"></shape>

<main class="flex-grow">
    <div class="bg-white py-12">
        <shape Type="GlossaryShape" prop-GlossaryItems="featuredItems"></shape>
    </div>
</main>

