<shape Type="ContentHeader" prop-ContentItem="@Model.ContentItem"></shape>
<div class="max-w-6xl mx-auto px-6">
    <section class="bg-white my-8 p-8 rounded-xl">
        @await DisplayAsync(Model.Content)
    </section>
</div>
