@using OrchardCore.ContentFields.Indexing.SQL
@using OrchardCore.ContentLocalization.Records
@using OrchardCore.ContentManagement.Display
@using YesSql;
@inject IContentItemDisplayManager ContentItemDisplayManager 
@inject ISession _session
@{
    string contentItemId = Model.ContentItem.ContentItemId;
    List<ContentItem> bookItems = await _session.Query<ContentItem, ContentPickerFieldIndex>(x =>
        x.SelectedContentItemId == contentItemId).ToAsyncEnumerable().ToListAsync();

        RenderTitleSegments(Model.ContentItem.DisplayText);
}

<shape Type="ContentHeader" prop-ContentItem="@Model.ContentItem"></shape>
<div class="max-w-6xl mx-auto px-6">
    <section class="bg-white my-8 p-8 rounded-xl">
        @foreach(var item in bookItems)
        {
            var shape = await ContentItemDisplayManager.BuildDisplayAsync(item, null, "Summary");
            @await DisplayAsync(shape);
        }
    </section>
</div>
