<a display-for="@Model.ContentItem">
    <div class="p-4 rounded-lg border border-primary/10 hover:border-highlight transition-colors text-left my-2">
        <h3>@Model.ContentItem.DisplayText</h3>
    </div>
</a>