@{
    // By using a tag builder, sub items can alter the
    // menu element. Note how Display is called on the menu
    // items before the tag is actually rendered.

    TagBuilder tag = Tag(Model, "ul");
    tag.AddCssClass("list-group");
    foreach (var item in Model.Items)
    {
        tag.InnerHtml.AppendHtml(await DisplayAsync(item));
    }
}

<div class="flex flex-col md:flex-row space-y-3 md:space-x-8 md:space-y-0">
    @tag.InnerHtml
</div>