@import "tailwindcss";

@theme {
    --color-primary:#1B4332;
    --color-accent: #F5F3E7;
    --color-secondary: #B33F2A;
    --color-highlight: #D9A441;
    --color-text: #2B2B2B;
}

@layer base {
    h1 {
        font-size: var(--text-2xl);
    }

    h2 {
        font-size: var(--text-1xl);
    }
    h3 {
        font-size: var(--text-xl);
    }

}

html {
    scroll-behavior: smooth;
}


.glossaryItemSummary__title {
    @apply text-base font-bold text-secondary mb-2;
}

.footerLogo h3 {
    @apply font-bold mb-4 text-accent/80;
}

.footer-navigation {
    @apply space-y-2 text-accent/80;
}
    .footer-navigation span {
        @apply block;
    }
.footer-navigation a {
    @apply hover:text-highlight transition-colors hover:underline;
}

.footer .widget-container-title h2 {
    @apply font-semibold mb-4;
}

main {
    img {
        @apply w-full rounded-lg object-cover;
    }
}